/* LAYOUT */
 @media only screen and (min-width: 1200px) {
	 /* HEADER*/
		   
	 header {
		width: 100%;
		padding: 15px 40px;
		position: fixed;
		top:0;
		left: 0;
		background-color: #fff;
		z-index: 10;
	}

	header nav{
		margin-left: 8%;
		width: 100%;
		max-width: 750px;
	}

	header nav ul{
		gap: 2rem;
	}

	header div:nth-child(3){
		margin-left: auto;
	}

	#logotipo{ 
		width: 100%;
		height: 3.92rem;
		max-width: 200px;
	}

	header nav a {
		text-decoration: none;
		color: #02274a;
		font-size: 19px;
		font-weight: 600;
		font-style: medium;
		width: 100%;
	}

	header a:hover{
		color: #00A19A;
		transition: 450ms;
	}

	header ul li{
		font-size: 18px;
	}

	.underline{
		position: relative;
		background-image: linear-gradient(90deg, #00A19A, #00A19A);
		background-size: 0% 4px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: 150ms;
	}
	
	.underline:hover{
		position: relative;
		background-image: linear-gradient(90deg, #00A19A, #00A19A);
		background-size: 100% 4px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: 300ms;
	}

	header button {
		width: 0%;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}

	.social-media{
		margin-left: auto;
	}

	.social-media ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media li {
		display: flex;
		justify-content: center;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	.nav-menu, .collapse, .show{
		width: 0;
		visibility: hidden;
		margin: 0;
		height: 0;
	}


	/*MAIN*/
	main{
		width: 100%;
		padding-top: 5.8125rem;
	}

	main #banner {
		width: 100%;
		height: auto;
		margin-bottom: 9.375rem;
	}

	/*NOSSA HISTORIA*/

	main .background-blue {
		background: linear-gradient(180deg,rgba(248,253,255,0) 0,rgba(241,252,255,.51782) 48.22%,#f6fdff 100%)
	}

	main .history {
		display: flex;
		gap: 5rem;
		width: 100%;
		padding-bottom: 7rem;

	}

	.circle-img{
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
	}
	
	.circle-img img {
		width: 85%;
		height: 70%;
		margin-left: 60px;
	}

	.title-style{
		margin-top: 6%;
	}

	.title-style div {
		width: max-content;
		padding: 0 1.125rem;
		line-height: 28px;
		border-radius: 15px;
		background: rgba(145,59,255,.07);
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #00a19a;
		margin-bottom: 20px;
	}

	h2 {
		color: #312783;
		font-size: 60px;
		line-height: 1.31em;
		font-weight: 400;
		margin: 0;
	}

	.title-style span {
		color: #00A19A;
	}

 	p {
		width: 70%;
		color: #4D4D4D;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-bottom: 1rem;
		font-size: 20px;
	}

	/* PRODUTOS*/

	.text-products {
		width: 90%;
		padding-left: 8%;
	}


	/* PROPRIEDADE*/ 

	.details{
		padding: 0rem 5% 0rem 10% ;
		display: flex;
		margin-top: 5rem;
	}

	.details section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		height: auto;
	}

	.details section:nth-child(1){
		width: 80%;
	}

	.details .buttons {
		width: 90%;
		padding: 0.2rem 0.5rem 0.2rem 5rem;
		background-color: #fff;
		transition: all .3s ease-in-out;
	}

	.details button {
		width: 100%;
		display: flex;
		justify-content: space-between;
		min-width: 400px;
		max-height: 4.2rem;
		padding: 1.4375rem 1.2rem 1rem 2rem;

		color: #312783;
		font-size: 1.25rem;
		font-weight: 500;
		border: none;
		border-radius: 5px;
		outline: none;
		background-color: #fff;
		transition: all .3s ease-in-out;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
	}

	.buttons button:hover {
		cursor: pointer;
	}

	.properties p {
		font-size: 1.02rem;
		width: 100%;
		color: #4D4D4D;
		padding-left: 2rem;
	}

	.details ul:nth-child(1){
		padding-left: 3.43rem;
	}

	.properties ul li {
		padding-left: 0.5rem;
		margin-bottom: 0.8rem;
		font-size: 1.1rem;
		color: #4D4D4D;
	}
	
	.li-style{
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		margin-top: 0.8rem;;
	}

	/*APLICAÇÕES*/

	.applications{
		padding: 8rem 1% 3rem 10%;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 2rem;
	}

	.applications h2 {
		width: 31%;
		max-width: 410px;
		display: flex;
		align-items: center;
		max-height: 220px;
		font-weight: 500;
	}

	.card-application{
		width: 31%;
		max-width: 410px;
		padding: 50px 25px 70px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;

		background-color: #fff;
		border-radius: 1rem;
		transition: all .3s ease-in-out;
		box-shadow: 2px 5px 5px rgb(0 73 171 / 5%);
		text-align: center;
	}
	
	.applications h5{
		font-size: 1.4rem;
		border: 0;
		color: #312783;
	}

	.applications h5:hover{
		color: #00A19A;
	}

	.applications #camarao{
		max-width: 310px;
		animation: salto 1s ease-in-out 1s infinite alternate ;
		transition: all .3s ease-in-out;
	}

	@keyframes salto {
		0% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(0);
		}
	}


	/* QUALIDADE */
	.quality{
		background-image: url(../images-body/back1.webp);
		padding: 2rem 10%;
		overflow: hidden;
	}

	.quality h2, .quality p{
		color: #fff;
		width: 100%;
		padding-bottom: 1rem;
	}

	.content {
		display: flex;
		flex-direction: column;
	}

	.content div {
		display: flex;
		flex-wrap: wrap;
		gap: 5rem;
	}

	.content section{
		width: 45%;
		padding-top: 4rem;
	}

	.content img{
		width: 45%;
		max-width: 500px;
	}


	/* CONTACT */
	.form-contact{
		padding: 3rem 5% ;
		margin-bottom: 5rem;
		gap: 3rem;
		display: flex;
	}

	.contact {
		width: 100%;
		padding-top: 3rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 20px 80px;
		gap: 2rem;
		border-radius: 20px;
		box-shadow: 0 5px 10px rgb(0 73 171 / 5%);
		text-align: center;
		font-size: 1.25rem;
	}

	.number{
		display: flex;
		flex-direction: column;
	}

	.contact h5{
		font-size: 1.5rem;
		color: #312783;
		font-weight: 500;
		overflow: hidden;
	}

	.contact p{
		font-size: 1.25rem;
		color: #00A19A;
		margin: 0%;
	}

	.contact a{
		font-size: 1.4rem;
		color: #00A19A;
		margin: 0;
	}


	/*footer*/
	footer div{
		display: flex;
		width: 100%;
		justify-content: space-around;
		padding: 3rem 5%;
	}

	.social-media2{
		margin: auto;
	}

	.social-media2 a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media2 ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media2 li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media2 li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media2 li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media2 li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	#footer2{
		padding: 1rem 3%;
		display: flex;
		justify-content: space-around;
	}

	#footer2 p{
		padding: 0;
		margin: 0;
		font-size: 1rem;
	}

	#footer2 a{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: #4D4D4D;
	}

	#footer2:hover a{
		color: #00A19A;
		cursor: pointer;
		text-decoration: none;
	}

	/* BUTTON SCROLL */
	.scroll-top button{
		border: none;
		outline: none
	}
	.button-scroll {
		width: 35px;
		height: 35px;
		background: #00A19A;
		border-radius: 50%;
		position: fixed;
		right: 5px;
		bottom: 20px;
		z-index: 99;
		transition: all .3s ease-in-out;
		border: none;
		outline: none;
	}

	.button-scroll button {
		border: none;
		outline: none;
	}

	.button-scroll:after {
		position: absolute;
		z-index: -1;
		content: '';
		top: 100%;
		left: 5%;
		height: 10px;
		width: 90%;
		opacity: 1;
		background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 80%);
		border: none;
		outline: none;
	}

	.button-scroll:hover{
		cursor: pointer;
	}

	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	header {
		width: 100%;
		padding: 0.5rem 1.5rem;
		position: fixed;
		top:0;
		left: 0;
		background-color: #fff;
		z-index: 10;
	}

	header nav{
		margin-left: 5%;
		width: max-content;
	}

	#logotipo{ 
		width: 100%;
		height: 3.92rem;
		max-width: 100px;
	}

	header a {
		text-decoration: none;
		color: #02274a;
		font-size: 16px;
		font-weight: 600;
		font-style: medium;
		width: 100%;
		max-width: 120px;
	}

	header a:hover{
		color: #00A19A;
		transition: 450ms;
	}

	header ul li{
		margin: auto 0.8rem;
		width: max-content;
		font-size: 18px;
	}

	header button {
		width: 0%;
		visibility: hidden;
		margin: 0;
		padding: 0;
	}

	.underline{
		position: relative;
		background-image: linear-gradient(90deg, #00A19A, #00A19A);
		background-size: 0% 4px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: 150ms;
	}
	
	.underline:hover{
		position: relative;
		background-image: linear-gradient(90deg, #00A19A, #00A19A);
		background-size: 100% 4px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: 300ms;
	}

	.social-media{
		margin-left: auto;
	}

	.social-media a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	.nav-menu, .collapse, .show{
		width: 0;
		visibility: hidden;
		margin: 0;
		height: 0;
	}


	/* MAIN */
	main{
		width: 100%;
		padding-top: 5.8125rem;
	}

	main #banner {
		width: 100%;
		height: auto;
		margin-bottom: 7rem;
	}

	/*NOSSA HISTORIA*/
	

	main .background-blue {
		background: linear-gradient(180deg,rgba(248,253,255,0) 0,rgba(241,252,255,.51782) 48.22%,#f6fdff 100%)
	}

	main .history {
		display: flex;
		gap: 2.5rem;
		width: 100%;
		padding-bottom: 1rem;

	}

	.circle-img{
		width: 100%;
		height: 100%;
		padding-top: 2%;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
	}
	
	.circle-img img {
		width: 85%;
		height: 70%;
		margin-left: 40px;
		margin-top: 2rem;
		min-width: 400px;
		max-width: 450px;
	}

	.text-history{
		width: 100%;
	}

	.title-style div {
		width: max-content;
		padding: 0 1.125rem;
		margin-bottom: 1rem;
		line-height: 28px;
		border-radius: 15px;
		background: rgba(145,59,255,.07);
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #00a19a;
	}

	h2 {
		color: #312783;
		font-size: 40px;
		line-height: 1.31em;
		font-weight: 400;
		margin: 0;
	}

	.title-style span {
		color: #00A19A;
	}

	p{
		font-size: 20px;
		color: #4D4D4D;
	}

 	.history p{
		padding-top: 0.8rem;
		padding-bottom: 1.2rem;
	}


	/* PRODUTOS*/

	.details {
		display: flex;
		width: 100%;
		margin-top: 6rem;
	}
	
	.details section:nth-child(1){
		width: 45%;
	}

	.text-products {
		width: 90%;
		margin-top: 4rem;
		padding-left: 3rem;
	}

	.text-products h2 {
		margin-top: 1.5rem;
	}

	.title-style {
		margin-bottom: 1.5rem;
	}

	.details section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		height: auto;
		padding: 0rem 0rem 0rem 2rem;
	}

	.details .buttons {
		width: 100%;
		padding: 0.2rem 1rem 0.2rem 7rem;
		transition: all .3s ease-in-out;
	}

	.buttons button {
		width: 98%;
		height: 3.2rem;
		padding: 0rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all .3s ease-in-out;

		color: #312783;
		font-size: 1.25rem;
		font-weight: 500;

		border: none;
		border-radius: 5px;
		background-color: #fff;
		outline: none;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
	}

	.buttons button:hover {
		cursor: pointer;
	}

	.properties{
		padding: 0rem 2.5rem 1.25rem 2rem;
	}

	.properties p {
		font-size: 1.02rem;
		color: #4D4D4D;
	}

	.details ul:nth-child(1){
		padding-left: 1.25rem;
	}

	.details ul li {
		padding-left: 0.25re m;
		margin-bottom: 0.8rem;
		font-size: 1.1rem;
		color: #4D4D4D;
	}

	.li-style{
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		margin-top: 0.8rem;;
	}


	/*APLICAÇÕES*/

	.applications{
		padding: 5rem 1.5rem;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 1.5rem;
	}

	.applications h2 {
		width: 31%;
		display: flex;
		align-items: center;
		max-height: 220px;
		font-weight: 500;
	}

	.card-application{
		width: 31%;
		padding: 25px 15px 35px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;

		background-color: #fff;
		border-radius: 1rem;
		transition: all .3s ease-in-out;
		box-shadow: 2px 5px 5px rgb(0 73 171 / 5%);
		text-align: center;
	}
	
	.applications h5{
		font-size: 1.4rem;
		border: 0;
		color: #312783;
		overflow: hidden;
	}

	.applications h5:hover{
		color: #00A19A;
	}

	.applications #camarao{
		max-width: 310px;
		animation: salto 1s ease-in-out 1s infinite alternate ;
		transition: all .3s ease-in-out;
	}

	@keyframes salto {
		0% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(0);
		}
	}

	
	/* QUALIDADE */
	.quality{
		background-image: url(../images-body/back1.webp);
		padding: 2rem 5rem;
	}

	.quality h2, .quality p{
		color: #fff;
		padding-bottom: 1rem;
	}

	.content {
		display: flex;
		flex-direction: column;
	}

	.content div {
		display: flex;
		flex-wrap: wrap;
		gap: 5rem;
	}

	.content section{
		width: 45%;
		padding-top: 3rem;
	}

	.content img{
		width: 45%;
	}


	/* CONTACT */
	.form-contact{
		padding: 1rem 2rem;
		margin-bottom: 5rem;
		gap: 1.5rem;
		display: flex;
	}

	.contact {
		width: 100%;
		padding-top: 3rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 20px 80px;
		gap: 1rem;
		border-radius: 20px;
		box-shadow: 0 5px 10px rgb(0 73 171 / 5%);
		text-align: center;
		font-size: 1.25rem;
	}

	.number{
		display: flex;
		flex-direction: column;
	}

	.contact h5{
		font-size: 1.25rem;
		color: #312783;
		font-weight: 500;
		overflow: hidden;
	}

	.contact p{
		font-size: 1.1rem;
		color: #00A19A;
		margin: 0%;
	}

	.contact a{
		font-size: 1.3rem;
		color: #00A19A;
		margin: 0;
	}


	footer div{
		display: flex;
		width: 100%;
		justify-content: space-around;
		padding: 3rem 5%;
	}

	.social-media2{
		margin: auto;
	}

	.social-media2 a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media2 ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media2 li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media2 li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media2 li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media2 li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	#footer2{
		padding: 1rem 3%;
		display: flex;
		justify-content: space-around;
	}

	#footer2 p{
		padding: 0;
		margin: 0;
		font-size: 1rem;
	}

	#footer2 a{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: #4D4D4D;
	}

	#footer2:hover a{
		color: #00A19A;
		cursor: pointer;
		text-decoration: none;
	}


	/* BUTTON SCROLL */
	.scroll-top button{
		border: none;
		outline: none
	}
	.button-scroll {
		width: 35px;
		height: 35px;
		background: #00A19A;
		border-radius: 50%;
		position: fixed;
		right: 5px;
		bottom: 20px;
		z-index: 99;
		transition: all .3s ease-in-out;
		border: none;
		outline: none;
	}

	.button-scroll button {
		border: none;
		outline: none;
	}

	.button-scroll:after {
		position: absolute;
		z-index: -1;
		content: '';
		top: 100%;
		left: 5%;
		height: 10px;
		width: 90%;
		opacity: 1;
		background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 80%);
		border: none;
		outline: none;
	}

	.button-scroll:hover{
		cursor: pointer;
	}
}

@media only screen and (min-width: 570px) and (max-width: 991px){
	header{
		width: 100%;
		position: fixed;
		top:0;
		left: 0;
		background-color: #fff;
		padding: 0.5rem 1rem;
		z-index: 10;
	}

	header nav{
		width: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}

	#logotipo{ 
		width: 100%;
		height: 3.92rem;
		max-width: 200px;
	}

	header button{
		width: 2.75rem;
		height: 2.37rem;
		background-color: #00A19A;
		border-radius: 0.25rem;
		border: none;
		outline: none;
	}

	header button:focus{
		border: none;
		outline: none;
	}

	header button:hover{
		cursor: pointer;
	}

	.listras{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 7px;
	}

	.listras span{
		width: 26px;
		height: 2px;
		background-color: #fff;
	}

	.social-media{
		margin: auto;
	}

	.social-media a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	
	/* NAV MENU */
	.nav-menu {
		width: 65%;
		max-width: 322px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
		margin: auto;
		display: flex;
		padding-top: 30%;
		transition: all .3s ease-in-out;
		z-index: 10;
	}

	.nav-menu ul{
		width: 100%;
	}

	.nav-menu a {
		text-decoration: none;
		color: #02274a;
		font-size: 19px;
		font-weight: 500;
		width: 100%;
	}

	.nav-menu a:hover{
		color: #00A19A;
		transition: 450ms;
	}

	.nav-menu ul li{
		font-size: 18px;
	}


	/* MAIN */
	main{
		padding-top: 2rem;
	}

	main #banner{
		width: 100%;
	}

	main .background-blue {
		background: linear-gradient(180deg,rgba(248,253,255,0) 0,rgba(241,252,255,.51782) 48.22%,#f6fdff 100%)
	}


	.history{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		padding: 0rem 1rem;
		padding: 0rem 5rem;
	}

	h2 {
		color: #312783;
		font-size: 40px;
		line-height: 1.31em;
		font-weight: 400;
		margin: 0;
	}
	
	p {
		width: 100%;
		color: #4D4D4D;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-bottom: 1rem;
		font-size: 20px;
	}

	.circle-img{
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
	}
	
	.circle-img img {
		width: 100%;
		height: 70%;
	}

	.title-style{
		margin-top: 6%;
	}

	.title-style div {
		width: max-content;
		padding: 0 1.125rem;
		line-height: 28px;
		border-radius: 15px;
		background: rgba(145,59,255,.07);
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #00a19a;
		margin-bottom: 20px;
	}

	.title-style span {
		color: #00A19A;
	}


	/* PRODUCTS */
	.products{
		flex-direction: column;
		padding: 0rem 5rem;
	}


	/* PROPRIEDADES */

	.details{
		margin-top: 3rem;
		padding: 3rem 5rem;
	}
	
	.details .buttons {
		width: 100%;
		transition: all .3s ease-in-out;
	}

	.buttons button {
		width: 98%;
		height: 3rem;
		display: flex;
		margin: 1rem 0.5rem;
		padding-right: 2rem;
		align-items: center;
		justify-content: space-between;
		transition: all .3s ease-in-out;

		color: #312783;
		font-size: 1.25rem;
		font-weight: 500;

		border: none;
		border-radius: 5px;
		background-color: #fff;
		outline: none;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
	}

	.buttons button:hover {
		cursor: pointer;
	}

	.buttons button:target{
		transform: rotate(0.5turn);
	}

	.details ul{
		padding-left: 1rem;
	}

	.details ul li {
		width: 90%;
		font-size: 1rem;
		color: #4D4D4D;
	}

	.details p {
		font-size: 1rem;
		color: #4D4D4D;
		line-height: 1.8rem;
		padding-left: 0.8rem;
	}

	.properties p {
		padding: 0;
	}

	.li-style{
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		margin-top: 0.8rem;;
	}


	/*  APLICAÇÕES  */

	.applications{
		padding: 3rem 5rem;	 
		margin: auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		overflow-y: hidden;
	}

	.applications h2:nth-child(1){
		display: block;
		width: 100%;
		margin-bottom: 2rem;
	}
	
	.card-application{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		align-items: center;
		width: 47%;
		padding: 25px 15px 35px;
		background-color: #fff;
		border-radius: 1rem;
		transition: all .3s ease-in-out;
		box-shadow: 2px 5px 5px rgb(0 73 171 / 5%);
		text-align: center;
	}

	.applications h5{
		font-size: 1.4rem;
		border: 0;
		color: #312783;
	}

	.applications h5:hover{
		color: #00A19A;
	}

	.card-application:nth-child(8){
		width: 100%;
	}

	.applications #camarao{
		width: 0%;
		visibility: hidden;
	}


	/* QUALIDADE */
	.quality{
		background-image: url(../images-body/back1.webp);
		padding: 2rem 5rem;
	}

	.quality h2, .quality p{
		color: #fff;
		padding-bottom: 1rem;
	}

	.content {
		display: flex;
		flex-direction: column;
	 }

	.content img{
		width: 95%;
		margin: auto;
	}

	/* CONTACT */
	.form-contact{
		padding: 1rem 2rem;
		gap: 1.5rem;
		display: flex;
	}

	.contact {
		width: 100%;
		padding-top: 3rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0rem;
		gap: 1rem;
		border-radius: 20px;
		box-shadow: 0 5px 10px rgb(0 73 171 / 5%);
		text-align: center;
	}

	.number{
		display: flex;
		flex-direction: column;
	}

	.contact h5{
		font-size: 1rem;
		color: #312783;
		font-weight: 500;
	}

	.contact p{
		font-size: 1rem;
		color: #00A19A;
		margin: 0%;
	}

	.contact a{
		font-size: 1.2rem;
		color: #00A19A;
		margin: 0;
	}

	footer div{
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-around;
		padding: 3rem 5%;
	}

	.social-media2{
		margin: auto;
	}

	.social-media2 a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media2 ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media2 li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media2 li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media2 li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media2 li:hover svg {
		fill: #fff;
		transition: 300ms;
	}

	#footer2{
		padding: 1rem 3%;
		display: flex;
		align-items: center;
	}

	#footer2 p{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		width: max-content;
	}

	#footer2 a{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: #4D4D4D;
	}

	#footer2:hover a{
		color: #00A19A;
		cursor: pointer;
		text-decoration: none;
	}


	/* BUTTON SCROLL */
	.scroll-top button{
		border: none;
		outline: none
	}
	.button-scroll {
		width: 35px;
		height: 35px;
		background: #00A19A;
		border-radius: 50%;
		position: fixed;
		right: 5px;
		bottom: 20px;
		z-index: 99;
		transition: all .3s ease-in-out;
		border: none;
		outline: none;
	}

	.button-scroll button {
		border: none;
		outline: none;
	}

	.button-scroll:after {
		position: absolute;
		z-index: -1;
		content: '';
		top: 100%;
		left: 5%;
		height: 10px;
		width: 90%;
		opacity: 1;
		background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 80%);
		border: none;
		outline: none;
	}

	.button-scroll:hover{
		cursor: pointer;
	}
}

@media only screen and (min-width: 500px) and (max-width: 569px) {
	header {
		width: 100%;
		padding: 1rem 2.5rem;
		position: fixed;
		top:0;
		left: 0;
		background-color: #fff;
		z-index: 10;
	}

	.social-media{
		width: 0%;
		visibility: hidden;
	}

	header nav {
		width: 0%;
		visibility: hidden;
	}

	header a {
		text-decoration: none;
		color: #02274a;
		font-size: 16px;
		font-weight: 600;
		font-style: medium;
		width: 100%;
		max-width: 120px;
	}

	header a:hover{
		color: #00A19A;
		transition: 450ms;
	}

	header ul li{
		margin: auto 0.8rem;
		width: max-content;
		font-size: 18px;
	}


	#logotipo{ 
		width: 100%;
		height: 3.92rem;
		min-width: 200px;
	}
	
	header button{
		width: 2.75rem;
		height: 2.37rem;
		background-color: #00A19A;
		border-radius: 0.25rem;
		margin-left: 40%;
		border: none;
		outline: none;
	}

	header button:focus{
		border: none;
		outline: none;
	}

	header button:hover{
		cursor: pointer;
	}

	.listras{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 7px;
	}

	.listras span{
		width: 26px;
		height: 2px;
		background-color: #fff;
	}

	/* NAV MENU */
	.nav-menu {
		width: 65%;
		max-width: 322px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
		margin: auto;
		display: flex;
		padding-top: 30%;
		transition: all .3s ease-in-out;
		z-index: 10;
	}

	.nav-menu ul{
		width: 100%;
	}

	.nav-menu a {
		text-decoration: none;
		color: #02274a;
		font-size: 19px;
		font-weight: 500;
		width: 100%;
	}

	.nav-menu a:hover{
		color: #00A19A;
		transition: 450ms;
	}

	.nav-menu ul li{
		font-size: 18px;
	}


	/* MAIN */
	main{
		width: 100%;
		padding-top: 7rem;
	}

	main #banner{
		width: 130%;
	}

	main .background-blue {
		background: linear-gradient(180deg,rgba(248,253,255,0) 0,rgba(241,252,255,.51782) 48.22%,#f6fdff 100%)
	}

	.history{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		padding: 0rem 1rem;
	}

	h2 {
		color: #312783;
		font-size: 40px;
		line-height: 1.31em;
		font-weight: 400;
		margin: 0;
	}
	
	p {
		width: 100%;
		color: #4D4D4D;
		padding-top: 1.25rem;
		padding-bottom: 1.5625rem;
		margin-bottom: 1rem;
		font-size: 20px;
	}
	
	.circle-img{
		width: 100%;
		height: 100%;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
	}
	
	.circle-img img {
		width: 100%;
		height: 70%;
	}

	.title-style{
		margin-top: 6%;
	}

	.title-style div {
		width: max-content;
		padding: 0 1.125rem;
		line-height: 28px;
		border-radius: 15px;
		background: rgba(145,59,255,.07);
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #00a19a;
		margin-bottom: 20px;
	}

	.title-style span {
		color: #00A19A;
	}


	/*HISTORY*/

	.products{
		flex-direction: column;
		padding: 0rem 1rem;
	}



	/* PROPRIEDADES */

	.details{
		margin-top: 3rem;
		padding: 0rem 1rem;
	}
	
	.details .buttons {
		width: 100%;
		transition: all .3s ease-in-out;
	}

	.buttons button {
		width: 97%;
		height: 3rem;
		display: flex;
		margin: 1rem 0.5rem;
		padding-right: 2rem;
		align-items: center;
		justify-content: space-between;
		transition: all .3s ease-in-out;

		color: #312783;
		font-size: 1.25rem;
		font-weight: 500;

		border: none;
		border-radius: 5px;
		background-color: #fff;
		outline: none;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
  		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
	}

	.buttons button:hover {
		cursor: pointer;
	}

	.details ul{
		padding-left: 1rem;
	}

	.details ul li {
		width: 90%;
		font-size: 1rem;
		color: #4D4D4D;
	}

	.details p {
		font-size: 1rem;
		color: #4D4D4D;
		line-height: 1.8rem;
		padding-left: 0.8rem;
	}

	.properties p {
		padding: 0 0 0 1rem;
	}

	.li-style{
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		margin-top: 0.8rem;;
	}

	

	/*APLICAÇÕES*/

	.applications{
		padding: 3rem 1rem;
		display: flex;
		flex-direction: column;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.card-application {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;

		background-color: #fff;
		box-shadow: 0 5px 10px rgb(0 73 171 / 5%);
		border-radius: 15px;
		text-align: center;
		padding: 50px 25px 70px;

		transition: all .3s ease-in-out;
	}

	.applications h5{
		font-size: 1.4rem;
		border: 0;
		color: #312783;
		overflow: hidden;
	}

	.applications h5:hover{
		color: #00A19A;
	}

	.applications #camarao{
		width: 0%;
		visibility: hidden;
	}


	.quality{
		background-image: url(../images-body/back1.webp);
		padding: 2rem 1rem;
	}


	.quality h2, .quality p{
		color: #fff;
		padding-bottom: 1rem;
	}

	.quality img{
		width: 100%;
	}


	/* CONTACT */
	.form-contact{
		padding: 1rem 2rem;
		gap: 1.5rem;
		display: flex;
		flex-direction: column;
	}

	.contact {
		width: 100%;
		min-height: 200px;
		padding-top: 3rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0rem;
		gap: 1rem;
		border-radius: 20px;
		box-shadow: 0 5px 10px rgb(0 73 171 / 5%);
		text-align: center;
	}

	.number{
		display: flex;
		flex-direction: column;
	}

	.contact h5{
		font-size: 1.3rem;
		color: #312783;
		font-weight: 500;
	}

	.contact p{
		font-size: 1.3rem;
		color: #00A19A;
		margin: 0%;
	}

	.contact a{
		font-size: 1.5rem;
		color: #00A19A;
		margin: 0;
	}


	footer div{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding: 3rem 5%;
	}

	.social-media2{
		margin: auto;
	}

	.social-media2 a{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-media2 ul{
		display: flex;
		gap: 0.625rem;
	}

	.social-media2 li {
		display: flex;
		justify-content: center;
		margin: 0px;
		width: 32px;
		height: 32px;
		background-color: #eef4fb;
		border-radius: 4px;
	}

	.social-media2 li svg {
		width: 18px;
		height: auto;
		fill: #3b668d;
	}

	.social-media2 li:hover {
		background-color: #3b668d;
		transition: 300ms;
	}
	.social-media2 li:hover svg {
		fill: #fff;
		transition: 300ms;
	}


	#footer2{
		padding: 1rem 3%;
		display: flex;
		align-items: center;
	}

	#footer2 p{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		width: max-content;
	}

	#footer2 a{
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: #4D4D4D;
	}

	#footer2:hover a{
		color: #00A19A;
		cursor: pointer;
		text-decoration: none;
	}


	/* BUTTON SCROLL */
	.scroll-top button{
		border: none;
		outline: none
	}
	.button-scroll {
		width: 35px;
		height: 35px;
		background: #00A19A;
		border-radius: 50%;
		position: fixed;
		right: 5px;
		bottom: 20px;
		z-index: 99;
		transition: all .3s ease-in-out;
		border: none;
		outline: none;
	}

	.button-scroll button {
		border: none;
		outline: none;
	}

	.button-scroll:after {
		position: absolute;
		z-index: -1;
		content: '';
		top: 100%;
		left: 5%;
		height: 10px;
		width: 90%;
		opacity: 1;
		background: radial-gradient(ellipse at center,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 80%);
		border: none;
		outline: none;
	}

	.button-scroll:hover{
		cursor: pointer;
	}
}


/*ESTILIZAÇÃO*/

* {
	font-family: 'IBM Plex Sans', sans-serif;
	overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #913bff;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background: #fff;
}

